doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="icon" type="image/svg+xml" href="./assets/favicon.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title lite-template
    link(rel="stylesheet", href="./index.sass")
  body
    header
        img(src="./assets/logo.svg")
        h1 Hello lite-template!
        script(type="module" src="./src/index.js")
